<dmx-serverconnect id="sc_wallet" url="/api/wallet/get_wallet" dmx-param:filter_data="filter_data.value" dmx-param:filter_vid_dvigenia="filter_vid_dvigenia.value" dmx-param:filter_dookmaker="filter_bukmaker.value" dmx-param:filter_valuta="filtercurrency.value"></dmx-serverconnect>
<dmx-serverconnect id="sc_bukmaker" url="/api/setting/bukmaker/get_bukmaker"></dmx-serverconnect>
<dmx-serverconnect id="sc_valuta" url="/api/setting/valuta/get_valuta"></dmx-serverconnect>
<dmx-serverconnect id="sc_curses" url="/api/wallet/get_valuta_sis" dmx-param:filter_curse="modal_wallet.form_new_wallet.inp_currency.value"></dmx-serverconnect>
<dmx-serverconnect id="sc_stat_bukmaker" url="/api/wallet/stat_bukmaker"></dmx-serverconnect>
<dmx-serverconnect id="sc_valuta" url="/api/wallet/stat_valuta"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-block shadow placeholder-glow mt-xxl-3 mb-xxl-2 pt-xxl-2 pb-xxl-2 ps-xxl-2 pe-xxl-2">
                <h4 class="text-center">Wallet</h4>

            </div>

        </div>
    </div>
    <div class="row">
        <div class="col col-xxl">
            <div class="d-block mt-xxl-2 mb-xxl-2 pt-xxl-2 pb-xxl-2 ps-xxl-2 pe-xxl-2 shadow placeholder-glow">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Bukmaker</th>
                                <th>Currency</th>
                                <th>Suma</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_stat_bukmaker.data.query" id="tableRepeat3">
                            <tr>
                                <td dmx-text="bukmaker"></td>
                                <td dmx-text="currency"></td>
                                <td dmx-text="suma"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col col-xxl">
            <div class="d-block mt-xxl-2 mb-xxl-2 pt-xxl-2 pb-xxl-2 ps-xxl-2 pe-xxl-2 shadow placeholder-glow">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Bukmaker</th>
                                <th>Currency</th>
                                <th>Sam</th>
                                <th>Algi</th>
                                <th>Sum</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_valuta.data.query" id="tableRepeat2">
                            <tr>
                                <td dmx-text="bukmaker"></td>
                                <td dmx-text="currency"></td>
                                <td dmx-text="sam"></td>
                                <td dmx-text="ALGI"></td>
                                <td dmx-text="SUM"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</div>
<div class="container">

    <button id="btn_new_wallet" class="btn btn-primary mb-xxl-1 btn-sm" data-bs-toggle="modal" data-bs-target="#modal_wallet">New wallet</button>
    <div class="row">
        <div class="text-center align-self-center col-lg-3 col-12 col-sm-6">
            <h6 class="text-center">Starting data</h6>
            <input id="filter_data" name="text1" type="datetime-local" class="form-control form-control-sm">
        </div>
        <div class="align-self-center text-center col-lg-3 col-12 col-sm-6">
            <h6 class="text-center">Money movement&nbsp;</h6>
            <select id="filter_vid_dvigenia" class="form-select form-select-sm">
                <option selected="" value=""></option>
                <option value="Withdrawing money(Снятие)">Withdrawing money(Снятие)</option>
                <option value="Replenishment(Пополнение)">Replenishment(Пополнение)</option>
                <option value="Remains(Остаток)">Remains(Остаток)</option>
                <option value="Bonus(Бонус)">Bonus(Бонус)</option>
                <option value="Freebet(Фрибет)">Freebet(Фрибет)</option>
                <option value="Re-bet(Ребет)">Re-bet(Ребет)</option>
                <option value="Other(Иное)">Other(Иное)</option>
            </select>
        </div>
        <div class="align-self-center text-center col-lg-3 col-sm-6">
            <h6 class="text-center">Bookmaker</h6>
            <select id="filter_bukmaker" class="form-select form-select-sm" dmx-bind:options="sc_bukmaker.data.query" optiontext="bukamaker" optionvalue="bukmaker_sis">
                <option selected="" value=""></option>
                <option value="System">System</option>
                <option value="Broker">Broker</option>
                <option value="Betting Exchange">Betting Exchange</option>
            </select>
        </div>
        <div class="text-center align-self-center col-lg-3 col-sm-6">
            <h6>Currency</h6>
            <select id="filtercurrency" class="form-select form-select-sm" dmx-bind:options="sc_valuta.data.query" optiontext="name_valuta" optionvalue="name_valuta_sis">
                <option selected="" value=""></option>
            </select>
        </div>
    </div>
</div>
<div class="container">
    <div class="row" is="dmx-repeat" id="repeat_wallet" dmx-bind:repeat="sc_wallet.data.query">
        <div class="col-md-4 col-sm-6 col-12 col-lg-4 col-xl-3 col-xxl-3">
            <div class="d-block mt-xxl-2 mb-xxl-2 pt-xxl-2 pb-xxl-2 ps-xxl-2 pe-xxl-2 shadow placeholder-glow">
                <h5 class="text-xxl-center text-success">{{Vid_dvigenia}}</h5>
                <h6>Money: {{money_uuid}}</h6>
                <h6>Data &amp; Time: {{data_time.formatDate('dd-MM-yyyy HH:mm')}}</h6>
                <h6>Bookmaker: {{bukmaker}}</h6>
                <h6>Currency: {{currency}}</h6>
                <h6>Summa currency: {{summ_curerency}}</h6>
                <h6>Curse: {{curse}}</h6>
                <h6>Summa: {{summa}}</h6>
                <h6>Description: {{description}}</h6>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_wallet" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-sm modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h5 class="modal-title text-light">New wallet</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form is="dmx-serverconnect-form" id="form_new_wallet" method="post" action="/api/wallet/new_wallet" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-on:error="form_new_wallet.reset();modal_wallet.hide();sc_wallet.load();notifies1.danger('Error')" dmx-on:success="form_new_wallet.reset();modal_wallet.hide();sc_wallet.load();notifies1.success('Saving!!!')">
                    <div class="form-group mb-3">
                        <label for="inp_Vid_dvigenia" class="col-form-label-sm">Vid dvigenia</label>
                        <select id="inp_Vid_dvigenia" class="form-select form-select-sm" name="Vid_dvigenia">
                            <option selected="" value=""></option>
                            <option value="Withdrawing money(Снятие)">Withdrawing money(Снятие)</option>
                            <option value="Replenishment(Пополнение)">Replenishment(Пополнение)</option>
                            <option value="Remains(Остаток)">Remains(Остаток)</option>
                            <option value="Bonus(Бонус)">Bonus(Бонус)</option>
                            <option value="Freebet(Фрибет)">Freebet(Фрибет)</option>
                            <option value="Re-bet(Ребет)">Re-bet(Ребет)</option>
                            <option value="Other(Иное)">Other(Иное)</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_bukmaker" class="col-form-label-sm">Bukmaker</label>
                        <select id="inp_bukmaker" class="form-select form-select-sm" name="bukmaker" dmx-bind:options="sc_bukmaker.data.query" optiontext="bukamaker" optionvalue="bukmaker_sis">
                            <option selected="" value=""></option>
                            <option value="System">System</option>
                            <option value="Broker">Broker</option>
                            <option value="Betting Exchange">Betting Exchange</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_currency" class="col-form-label-sm">Currency</label>
                        <select id="inp_currency" class="form-select form-select-sm" name="currency" dmx-bind:options="sc_valuta.data.query" optiontext="name_valuta" optionvalue="name_valuta_sis">
                            <option selected="" value=""></option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_summ_curerency" class="col-form-label-sm">Summ curerency</label>
                        <input type="number" step="any" class="form-control form-control-sm" id="inp_summ_curerency" name="summ_curerency" aria-describedby="inp_summ_curerency_help" placeholder="Enter Summ curerency">
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_curse" class="col-form-label-sm">Curse</label>
                        <input type="number" step="any" class="form-control form-control-sm" id="inp_curse" name="curse" aria-describedby="inp_curse_help" placeholder="Enter Curse" dmx-bind:value="sc_curses.data.query[0].averege">
                    </div>
                    <div class="form-group mb-3">
                        <label for="inp_description" class="col-form-label-sm">Description</label>
                        <textarea id="inp_description" name="description" class="form-control"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" dmx-on:click="form_new_wallet.submit()" dmx-bind:disabled="form_new_wallet.state.executing">Save changes</button>
            </div>
        </div>
    </div>
</div><!-- Wappler include head-page="layouts/la_wallet" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="wallet" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxBootstrap5Offcanvas:{},dmxDataTraversal:{}}" -->



<dmx-notifications id="notifies1"></dmx-notifications>







<meta name="ac:route" content="/wallet/wallet">