<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="bloking" appConnect="local" -->
<div class="container">
    <div class="row">
        <div class="col d-flex align-items-center align-self-center justify-content-center flex-xxl-column flex-column">
            <img src="/assets/images/m.blocked.png" class="img-fluid" width="1200">
            <a href="/" class="btn btn-sm w-100" internal>Вход в систему</a>
        </div>
    </div>
</div>
<meta name="ac:route" content="/bloking">