<dmx-serverconnect id="sc_bukmaker_sp_line" url="/api/sport_line/bukmaker_sport_line/get_bukmaker_sport_line"></dmx-serverconnect>
<dmx-serverconnect id="sc_bukmaker" url="/api/sport_line/bukmaker_sport_line/get_bukmaker" dmx-param:bukmaker="modal_bukamaker.data_detail_bukmaker.form_update_bukmaker.inp_bukmaker.value"></dmx-serverconnect>
<dmx-serverconnect id="sc_name_curse" url="/api/sport_line/bukmaker_sport_line/get_bukmaker_curret_curse" dmx-param:name_valuta="modal_bukamaker.data_detail_bukmaker.form_update_bukmaker.inp_valuta.value"></dmx-serverconnect><!-- Wappler include head-page="layouts/la_sport_line" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="bukmaker_sport_line" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxBootstrap5Modal:{},dmxDataTraversal:{},dmxFormatter:{},dmxValidator:{},dmxNotifications:{}}" -->

<div class="modal" id="modal_bukamaker" is="dmx-bs5-modal" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
        <div class="modal-content">
            <div class="modal-header bg-warning text-light">
                <h6 class="modal-title">Update bukmaker</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        <div class="col" is="dmx-data-detail" id="data_detail_bukmaker" dmx-bind:data="sc_bukmaker_sp_line.data.query" key="id">
                            <form is="dmx-serverconnect-form" id="form_update_bukmaker" method="post" action="/api/sport_line/bukmaker_sport_line/update_bukmaaker_kurse" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-populate="data_detail_bukmaker.data">
                                <div class="form-group mb-3">
                                    <label for="inp_bukmaker" class="col-form-label-sm">Bukmaker</label>
                                    <input type="text" class="form-control form-control-sm" id="inp_bukmaker" name="bukmaker" dmx-bind:value="data_detail_bukmaker.data.bukmaker" aria-describedby="inp_bukmaker_help" placeholder="Enter Bukmaker" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inp_stavka" class="col-form-label-sm">Stavka</label>
                                    <input type="number" class="form-control form-control-sm" id="inp_stavka" name="stavka" dmx-bind:value="data_detail_bukmaker.data.stavka" aria-describedby="inp_stavka_help" placeholder="Enter Stavka" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inp_valuta" class="col-form-label-sm">Valuta</label>
                                    <input type="text" class="form-control form-control-sm" id="inp_valuta" name="valuta" dmx-bind:value="sc_bukmaker.data.query[0].currency" aria-describedby="inp_valuta_help" placeholder="Enter Valuta" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inp_kurs_valuti" class="col-form-label-sm">Kurs valuti</label>
                                    <input type="number" class="form-control form-control-sm" id="inp_kurs_valuti" name="kurs_valuti" dmx-bind:value="sc_name_curse.data.query[0].curse" aria-describedby="inp_kurs_valuti_help" placeholder="Enter Kurs valuti" required="">
                                </div>
                                <div class="form-group mb-3">
                                    <label for="inp_stavka_valuta" class="col-form-label-sm">Stavka valuta</label>
                                    <input type="number" class="form-control form-control-sm" id="inp_stavka_valuta" name="stavka_valuta" dmx-bind:value="inp_stavka.value.toNumber()/inp_kurs_valuti.value.toNumber()" aria-describedby="inp_stavka_valuta_help" placeholder="Enter Stavka valuta" required="">
                                </div>
                                <div class="form-group mb-3" dmx-show="">
                                    <label for="inp_id">Id</label>
                                    <input type="number" class="form-control" id="inp_id" name="id" dmx-bind:value="data_detail_bukmaker.data.id" aria-describedby="inp_id_help" placeholder="Enter Id">
                                </div>
                                <div class="form-group mb-3 text-end">
                                    <button type="submit" class="btn btn-outline-warning btn-sm" dmx-bind:value="data_detail_bukmaker.data.Save">Update</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
        <div class="col">
            <h4 class="text-center">Bookmaker sport-line&nbsp;</h4>
        </div>
    </div>
</div>
<dmx-notifications id="notifies1"></dmx-notifications>
<div class="container-fluid">


    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Action</th>
                        <th>Id</th>
                        <th>Uuid sport line</th>
                        <th>Uuid event</th>
                        <th>Status</th>
                        <th>Bukmaker</th>
                        <th>Stavka</th>
                        <th>Valuta</th>
                        <th>Kurs valuti</th>
                        <th>Stavka valuta</th>
                        <th>Tsikl uuid</th>
                        <th>Tsikl sector</th>
                        <th>Spread uuid</th>
                        <th>Skrap uuid</th>
                        <th>Aziat uuid</th>

                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_bukmaker_sp_line.data.query" id="table_bukmaker_sport_line">
                    <tr>
                        <td>
                            <button id="btn_update" class="btn btn-sm w-100 btn-outline-warning" data-bs-toggle="modal" data-bs-target="#modal_bukamaker" dmx-on:click="modal_bukamaker.data_detail_bukmaker.select(id)">Update</button>
                        </td>
                        <td dmx-text="id"></td>
                        <td dmx-text="_['uuid_sport-line']"></td>
                        <td dmx-text="UUID_event"></td>
                        <td dmx-text="status"></td>
                        <td dmx-text="bukmaker"></td>
                        <td dmx-text="stavka"></td>
                        <td dmx-text="valuta"></td>
                        <td dmx-text="kurs_valuti"></td>
                        <td dmx-text="stavka_valuta"></td>
                        <td dmx-text="tsikl_uuid"></td>
                        <td dmx-text="tsikl_sector"></td>
                        <td dmx-text="spread_uuid"></td>
                        <td dmx-text="skrap_uuid"></td>
                        <td dmx-text="aziat_uuid"></td>

                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<meta name="ac:route" content="/spotr_line/bukmaker_sport_line">
<!-- New Wappler Page -->