<!-- Wappler include head-page="layouts/la_sport_line" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="update_sport_line" appConnect="local" components="{dmxStateManagement:{}}" -->
<meta name="ac:route" content="/spotr_line/new_sport_line">
<div class="container wappler-block pt-5 pb-5">
    <div class="row">
        <div class="text-center col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 col-xl-6 offset-xl-3">
            <p>A nice paragraph {{var_update_sport_line.value}}</p>
            <button class="btn btn-primary">Button</button>
        </div>
    </div>
</div>