<!-- Wappler include head-page="layouts/la_sport_line" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="sport_line" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxNotifications:{},dmxStateManagement:{},dmxBootstrap5Offcanvas:{},dmxDataTraversal:{}}" -->
<dmx-serverconnect id="sc_get_sport_line" url="/api/sport_line/sport_liner/get_sport_line"></dmx-serverconnect>
<div class="container">
    <div class="row mb-2">
        <div class="col">
            <a href="/spotr_line/new_sport_line" class="btn btn-primary btn-sm w-100">New sporting-line</a>


        </div>
        <div class="col"><a href="/spotr_line/bukmaker_sport_line" class="btn btn-sm w-100 btn-outline-success">bukmaker sporting-line</a></div>
        <div class="col"><a href="/spotr_line/kef_sport_line" class="btn btn-sm w-100 btn-outline-success">Kef sporting-line</a></div>
    </div>
    <div class="row">
        <div class="col">
            <a href="/spotr_line/summa_sport_line" class="btn btn-sm btn-outline-success w-100">Summa sporting-line</a>


        </div>
        <div class="col"><a href="/spotr_line/strategy_sport_line" class="btn btn-sm w-100 btn-outline-success">Strategy sporting-line</a></div>
        <div class="col"><a href="/spotr_line/kef_sport_line" class="btn btn-sm w-100 btn-outline-danger">Kef sporting-line</a></div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <table class="table table-striped table-bordered table-hover table-sm">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>User uuid</th>
                        <th>Uuid sport line</th>
                        <th>Data time start</th>
                        <th>Data time end</th>
                        <th>Uuid event</th>
                        <th>Vid sporta</th>
                        <th>Name playrs</th>
                        <th>Tip stavki</th>
                        <th>Zatrata</th>
                        <th>Teoretic kef</th>
                        <th>Practik kef</th>
                        <th>Itog kef</th>
                        <th>Stavka</th>
                        <th>Stavka valuta</th>
                        <th>Bukmaker</th>
                        <th>Valuta</th>
                        <th>Kurs valuti</th>
                        <th>Summa valuti</th>
                        <th>Itogo</th>
                        <th>Stratery</th>
                        <th>Vid stsvki</th>
                        <th>Tsikl uuid</th>
                        <th>Tsikl sector</th>
                        <th>Spread uuid</th>
                        <th>Skrap uuid</th>
                        <th>Aziat uuid</th>
                        <th>Status</th>
                        <th>Raschet</th>
                        <th>Description</th>
                    </tr>
                </thead>
                <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_get_sport_line.data.query" id="tableRepeat1">
                    <tr>
                        <td dmx-text="id"></td>
                        <td dmx-text="user_uuid"></td>
                        <td dmx-text="_['uuid_sport-line']"></td>
                        <td dmx-text="_['data-time_start'].formatDate('dd-MM-yyyy HH:mm')"></td>
                        <td dmx-text="_['data-time_end'].formatDate('dd-MM-yyyy HH:mm')"></td>
                        <td dmx-text="UUID_event"></td>
                        <td dmx-text="vid_sporta"></td>
                        <td dmx-text="name_playrs"></td>
                        <td dmx-text="tip_stavki"></td>
                        <td dmx-text="zatrata"></td>
                        <td dmx-text="teoretic_kef"></td>
                        <td dmx-text="practik_kef"></td>
                        <td dmx-text="itog_kef"></td>
                        <td dmx-text="stavka"></td>
                        <td dmx-text="stavka_valuta"></td>
                        <td dmx-text="bukmaker"></td>
                        <td dmx-text="valuta"></td>
                        <td dmx-text="kurs_valuti"></td>
                        <td dmx-text="summa_valuti"></td>
                        <td dmx-text="itogo"></td>
                        <td dmx-text="stratery"></td>
                        <td dmx-text="vid_stsvki"></td>
                        <td dmx-text="tsikl_uuid"></td>
                        <td dmx-text="tsikl_sector"></td>
                        <td dmx-text="spread_uuid"></td>
                        <td dmx-text="skrap_uuid"></td>
                        <td dmx-text="aziat_uuid"></td>
                        <td dmx-text="status"></td>
                        <td dmx-text="raschet"></td>
                        <td dmx-text="description"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>





<meta name="ac:route" content="/spotr_line/sport_line">