<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="report" appConnect="local" components="{dmxSwiper:{}}" -->
<meta name="ac:route" content="/fin_rez/report">
<div class="container wappler-block">
    <div class="row mb-4">
        <div class="col text-center">
            <h4>Report</h4>
            <p>A nice paragraph</p>
        </div>
    </div>
    <div class="row">
        <div class="text-center col-md-10 offset-md-1 col-lg-12 offset-lg-0">
            <div is="dmx-swiper" id="swiper1" slides-per-view-lg="2" pagination="bullets">
                <div class="swiper-slide">
                    <img class="wappler-type-picture rounded-circle mb-3" width="200" height="200">
                    <h4>Fancy display heading</h4>
                    <p>A nice paragraph</p>
                </div>
                <div class="swiper-slide"><img class="wappler-type-picture rounded-circle mb-3" width="200" height="200">
                    <h4>Fancy display heading</h4>
                    <p>A nice paragraph</p>
                </div>
                <div class="swiper-slide"><img class="wappler-type-picture rounded-circle mb-3" width="200" height="200">
                    <h4>Fancy display heading</h4>
                    <p>A nice paragraph</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- New Wappler Page -->