<dmx-serverconnect id="sc_fin_rez" url="/api/fin_rez/get_fin_rez"></dmx-serverconnect>
<div class="container wappler-block">
    <div class="row mb-4">
        <div class="col text-center">
            <h4>Report</h4>
        </div>
    </div>
</div><!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="report" appConnect="local" components="{dmxSwiper:{},dmxBootstrap5TableGenerator:{}}" -->


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>User uuid</th>
                <th>Fin rez uuid</th>
                <th>Data time rascheta</th>
                <th>Money line uuid</th>
                <th>Shikl uuid</th>
                <th>Strategi</th>
                <th>Spread trade uuid</th>
                <th>Skrap uuid</th>
                <th>Aziat uuid</th>
                <th>Bukmaker</th>
                <th>Currency</th>
                <th>Curse</th>
                <th>Stavka currency</th>
                <th>Stavka</th>
                <th>Summa</th>
                <th>Discription</th>
            </tr>
        </thead>
        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_fin_rez.data.query" id="tableRepeat1">
            <tr>
                <td dmx-text="id"></td>
                <td dmx-text="user_uuid"></td>
                <td dmx-text="fin_rez_uuid"></td>
                <td dmx-text="data_time_rascheta"></td>
                <td dmx-text="money_line_uuid"></td>
                <td dmx-text="shikl_uuid"></td>
                <td dmx-text="strategi"></td>
                <td dmx-text="spread_trade_uuid"></td>
                <td dmx-text="skrap_uuid"></td>
                <td dmx-text="aziat_uuid"></td>
                <td dmx-text="bukmaker"></td>
                <td dmx-text="currency"></td>
                <td dmx-text="curse"></td>
                <td dmx-text="stavka_currency"></td>
                <td dmx-text="stavka"></td>
                <td dmx-text="summa"></td>
                <td dmx-text="discription"></td>
            </tr>
        </tbody>
    </table>
</div>
<meta name="ac:route" content="/fin_rez/report">