<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="express" appConnect="local" -->
<meta name="ac:route" content="/pacydge/express">
<div class="container wappler-block pt-5 pb-5">
    <div class="row">
        <div class="col-12 text-start col">
            <h4>Express<br><small class="text-muted">With faded secondary text</small></h4>
            <p>A nice paragraph</p>
            <button class="btn btn-primary">Button</button>
        </div>
    </div>
</div>