<dmx-serverconnect id="sc_event" url="/api/event/get_event" dmx-param:filter_data="filter_data.value" dmx-param:filter_uuid="filter_uuid.value" dmx-param:filter_vid_sporta="filter_vid_sporta.value" dmx-param:filter_name_event="filter_Name_event.value" dmx-param:filter_status="filter_status.value"></dmx-serverconnect>
<dmx-serverconnect id="sc_vid_sporta" url="/api/setting/vid_sporta/get_vid_sporta"></dmx-serverconnect>
<dmx-serverconnect id="sc_stat_status_event" url="/api/event/stat_status_event"></dmx-serverconnect>
<dmx-serverconnect id="sc_stat_vid_sporta_event" url="/api/event/stat_vid_sporta_event"></dmx-serverconnect>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-block shadow placeholder-glow mt-2 mb-2 pt-2 pb-2 ps-2 pe-2">
                <h4 class="text-center">События</h4>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-md-6">
            <div class="d-block mt-2 mb-2 pt-2 pb-2 ps-2 pe-2 shadow placeholder-glow">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Статус</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_stat_status_event.data.query" id="tableRepeat2">
                            <tr>
                                <td dmx-text="status"></td>
                                <td dmx-text="count" class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="d-block mt-2 mb-2 pt-2 pb-2 ps-2 pe-2 shadow placeholder-glow">
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th>Вид спорта</th>
                                <th>Количество</th>
                            </tr>
                        </thead>
                        <tbody is="dmx-repeat" dmx-generator="bs5table" dmx-bind:repeat="sc_stat_vid_sporta_event.data.query" id="tableRepeat1">
                            <tr>
                                <td dmx-text="vid_sporta"></td>
                                <td dmx-text="count" class="text-center"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="d-block">
                <button id="btn_new_event" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#modal_event">Новое событие</button>
            </div>
        </div>
    </div>
    <div class="row mb-3">
        <div class="align-self-center col-6 col-lg-3 col-xl-3 col-xxl-3">
            <div class="d-block">
                <h6 class="text-center">Стартовая дата</h6>
                <input id="filter_data" name="filter_data" type="datetime-local" class="form-control form-control-sm">
            </div>
        </div>
        <div class="align-self-center col-6 col-lg-3 col-xl-3 col-xxl-2">
            <div class="d-block">
                <h6 class="text-center">UUID события</h6>
                <input id="filter_uuid" name="filter_uuid" type="text" class="form-control form-control-sm">
            </div>
        </div>
        <div class="align-self-center col-6 col-lg-3 col-xl-3 col-xxl-2">
            <div class="d-block">
                <h6 class="text-center">Вид спорта&nbsp;</h6>
            </div>
            <select id="filter_vid_sporta" class="form-select form-select-sm" dmx-bind:options="sc_vid_sporta.data.query_vid_sporta" optiontext="vid_sporta" optionvalue="vid_sporta_sis">
                <option selected="" value=""></option>
            </select>
        </div>
        <div class="align-self-center col-6 col-lg-3 col-xl-3 col-xxl-2">
            <div class="d-block">
                <h6 class="text-center">Статус</h6>
                <select id="filter_status" class="form-select form-select-sm">
                    <option selected="" value=""></option>
                    <option value="Planing">Planing</option>
                    <option value="Open">Open</option>
                    <option value="Closed">Closed</option>
                </select>
            </div>
        </div>
        <div class="align-self-center col-lg-12 col-xl-12 col-xxl-3">
            <div class="d-block">
                <h6 class="text-center">Наименование события</h6>
                <input id="filter_Name_event" name="filter_Name_event" type="text" class="form-control form-control-sm">
            </div>
        </div>

    </div>

</div>
<div class="container">
    <div class="row" is="dmx-repeat" id="repeat_event" dmx-bind:repeat="sc_event.data.query">
        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-3">
            <div class="d-block mt-2 mb-2 pt-2 pb-2 ps-2 pe-2 shadow placeholder-glow">
                <h5 class="fw-light mark text-xxl-center">Позиция № {{id}}</h5>
                <h6>Событие UUID: {{sobitia_uuid}}</h6>
                <h6>Стартовая дата: {{data_time_start.formatDate('dd-MM-yyyy HH:mm')}}</h6>
                <h6>Конечная дата: {{data_time_end.formatDate('dd-MM-yyyy HH:mm')}}</h6>
                <h6>Вид спорта: {{vid_sporta}}</h6>
                <h6>Наименование события: {{name_sobitie}}</h6>
                <h6>Статус: {{status}}</h6>
                <h6>Описание: {{discription}}</h6>
                <button id="btn3" class="btn w-100 btn-sm btn-outline-info" dmx-on:click="offcanvas_event.show();offcanvas_event.data_detail_event.select(id)">Детали...</button>
                <button id="btn_new_sport_line" class="btn w-100 btn-sm mt-2 btn-primary" dmx-on:click="">Новая букмекерская линия</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="modal_event" is="dmx-bs5-modal" tabindex="-1" nocloseonclick="true">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary">
                <h6 class="modal-title text-light">New event</h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="d-block">
                    <form is="dmx-serverconnect-form" id="form_new_event" method="post" action="/api/event/new_event" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-on:error="form_new_event.reset();modal_event.hide();sc_event.load();notifies1.danger('Error')" dmx-on:success="form_new_event.reset();modal_event.hide();sc_event.load();sc_stat_status_event.load();sc_stat_vid_sporta_event.load();notifies1.success('Saving event')">
                        <div class="row">
                            <div class="col-xxl col">
                                <div class="form-group mb-3">
                                    <label for="inp_data_time_start" class="col-form-label-sm">Data time start</label>
                                    <input type="datetime-local" class="form-control form-control-sm" id="inp_data_time_start" name="data_time_start" aria-describedby="inp_data_time_start_help" placeholder="Enter Data time start" required="">
                                </div>
                            </div>
                            <div class="col">
                                <div class="form-group mb-3">
                                    <label for="inp_data_time_end" class="col-form-label-sm">Data time end</label>
                                    <input type="datetime-local" class="form-control form-control-sm" id="inp_data_time_end" name="data_time_end" aria-describedby="inp_data_time_end_help" placeholder="Enter Data time end" required="">
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-end">
                            <div class="col-xxl col-12 col-md-6 col-sm-6">
                                <div class="form-group mb-3 text-center">
                                    <label for="inp_vid_sporta" class="col-form-label-sm">Type of sport (Вид спорта)</label>
                                    <select id="inp_vid_sporta" class="form-select form-select-sm" name="vid_sporta" required="" dmx-bind:options="sc_vid_sporta.data.query_vid_sporta" optiontext="vid_sporta" optionvalue="vid_sporta_sis">
                                        <option selected="" value=""></option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-md-6 col-sm-6">
                                <div class="form-group mb-3">
                                    <label for="inp_status" class="col-form-label-sm">Status</label>
                                    <select id="inp_status" class="form-select form-select-sm" name="status" required="">
                                        <option selected="" value=""></option>
                                        <option value="Planning">Planning</option>
                                        <option value="Open">Open</option>
                                        <option value="Closed">Closed</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row align-items-center">
                            <div class="col-xxl col">
                                <h6>Player 1</h6>
                                <input id="Player1" name="Player1" type="text" class="form-control form-control-sm" required="">
                            </div>
                            <div class="col-xxl col">
                                <h6>Player 2</h6>
                                <input id="Player2" name="Player2" type="text" class="form-control form-control-sm" required="">
                            </div>
                        </div>



                        <div class="form-group mb-3" dmx-show="">
                            <label for="inp_name_sobitie" class="col-form-label-sm">Name sobitie</label>
                            <input type="text" class="form-control form-control-sm" id="inp_name_sobitie" name="name_sobitie" aria-describedby="inp_name_sobitie_help" placeholder="Enter Name sobitie" dmx-bind:value="'('+Player1.value+')-('+Player2.value+')'">
                        </div>
                        <div class="form-group mb-3">
                            <label for="inp_url_1" class="col-form-label-sm">Url 1</label>
                            <textarea id="inp_url_1" name="url_1" class="form-control"></textarea>
                        </div>
                        <div class="form-group mb-3">
                            <label for="inp_url_2" class="col-form-label-sm">Url 2</label>
                            <textarea id="inp_url_2" name="url_2" class="form-control"></textarea>
                        </div>

                        <div class="form-group mb-3">
                            <label for="inp_discription" class="col-form-label-sm">Discription</label>
                            <textarea id="inp_discription" name="discription" class="form-control"></textarea>
                        </div>
                    </form>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary btn-sm" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-sm" dmx-on:click="form_new_event.submit()" dmx-bind:disabled="form_new_event.state.executing">Save changes</button>

            </div>
        </div>
    </div>
</div>
<div class="offcanvas offcanvas-start" id="offcanvas_event" is="dmx-bs5-offcanvas" tabindex="-1" scroll="true" dmx-on:click="">
    <div class="offcanvas-header bg-info">
        <h6 class="offcanvas-title">Детали события</h6>
        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <div class="container" is="dmx-data-detail" id="data_detail_event" dmx-bind:data="sc_event.data.query" key="id">
            <form is="dmx-serverconnect-form" id="form_update_event" method="post" action="/api/event/update_event" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-populate="data_detail_event.data" dmx-on:error="offcanvas_event.hide();sc_event.load();notifies1.danger('Error')" dmx-on:success="offcanvas_event.hide();sc_event.load();sc_stat_status_event.load();sc_stat_vid_sporta_event.load();notifies1.warning('Updating ')">
                <div class="form-group mb-3">
                    <button class="btn w-100 btn-danger btn-sm" dmx-on:click="form_deleted.submit()">Удалить</button>
                </div><input type="hidden" name="sobitia_uuid" id="inp_sobitia_uuid" dmx-bind:value="data_detail_event.data.sobitia_uuid">
                <div class="form-group mb-3">
                    <label for="inp_vid_sporta" class="col-form-label-sm">Вид спорта</label>
                    <select id="inp_vid_sporta" class="form-select form-select-sm" name="vid_sporta" dmx-bind:value="data_detail_event.data.vid_sporta" dmx-bind:options="sc_vid_sporta.data.query_vid_sporta" optiontext="vid_sporta" optionvalue="vid_sporta_sis">
                        <option selected="" value=""></option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="inp_name_sobitie" class="col-form-label-sm">Наименование события</label>
                    <input type="text" class="form-control form-control-sm" id="inp_name_sobitie" name="name_sobitie" dmx-bind:value="data_detail_event.data.name_sobitie" aria-describedby="inp_name_sobitie_help" placeholder="Enter Name sobitie">
                </div>
                <div class="form-group mb-3">
                    <label for="inp_url_1" class="col-form-label-sm">Url 1</label>
                    <label for="inp_url_1" class="col-form-label-sm"><a href="#" dmx-bind:href="inp_url_1.value" target="_blank">Переход на сайт</a></label>
                    <input type="text" class="form-control form-control-sm" id="inp_url_1" name="url_1" dmx-bind:value="data_detail_event.data.url_1" aria-describedby="inp_url_1_help" placeholder="Enter Url 1">
                </div>

                <div class="form-group mb-3">
                    <label for="inp_url_2" class="col-form-label-sm">Url 2</label>
                    <label for="inp_url_2" class="col-form-label-sm"><a href="#" dmx-bind:href="inp_url_2.value" target="_blank">Переход на сайт</a></label>
                    <input type="text" class="form-control form-control-sm" id="inp_url_2" name="url_2" dmx-bind:value="data_detail_event.data.url_2" aria-describedby="inp_url_2_help" placeholder="Enter Url 2">
                </div>
                <div class="form-group mb-3">
                    <label for="inp_status" class="col-form-label-sm">Статус</label>
                    <select id="inp_status" class="form-select form-select-sm" name="status" dmx-bind:value="data_detail_event.data.status">
                        <option selected="" value=""></option>
                        <option value="Planing">Planing</option>
                        <option value="Open">Open</option>
                        <option value="Close">Close</option>
                    </select>
                </div>
                <div class="form-group mb-3">
                    <label for="inp_discription" class="col-form-label-sm">Описание</label>
                    <input type="text" class="form-control" id="inp_discription" name="discription" dmx-bind:value="data_detail_event.data.discription" aria-describedby="inp_discription_help" placeholder="Enter Discription">
                </div>
                <div class="form-group mb-3" dmx-show="">
                    <label for="inp_id">Id</label>
                    <input type="number" class="form-control" id="inp_id" name="id" dmx-bind:value="data_detail_event.data.id" aria-describedby="inp_id_help" placeholder="Enter Id">
                </div>
                <div class="form-group mb-3">
                    <button type="submit" class="btn w-100 btn-warning" dmx-bind:value="data_detail_event.data.Save">Обновить</button>
                </div>
            </form>
            </form>
        </div>
        <form is="dmx-serverconnect-form" id="form_deleted" method="post" action="/api/event/deleted_event" dmx-generator="bootstrap5" dmx-form-type="vertical" dmx-on:error="offcanvas_event.hide();sc_event.load();notifies1.danger('Error')" dmx-on:success="offcanvas_event.hide();sc_event.load();notifies1.success('Deleted ok!')">
            <div class="form-group mb-3" dmx-show="">
                <label for="inp_id">Id</label>
                <input type="text" class="form-control" id="inp_id" name="id" dmx-bind:value="data_detail_event.form_update_event.inp_id.value" aria-describedby="inp_id_help" placeholder="Enter Id">
            </div>

        </form>

    </div>
</div>
<dmx-notifications id="notifies1"></dmx-notifications><!-- Wappler include head-page="layouts/la_event" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="eventing" appConnect="local" components="{dmxBootstrap5TableGenerator:{},dmxFormatter:{},dmxBootstrap5Modal:{},dmxNotifications:{},dmxValidator:{},dmxBootstrap5Offcanvas:{},dmxDataTraversal:{}}" -->










<meta name="ac:route" content="/event/event">