<!-- Wappler include head-page="layouts/main" fontawesome_5="cdn" bootstrap5="local" is="dmx-app" id="bet_option" appConnect="local" -->
<meta name="ac:route" content="/betoption/bet_option">
<div class="container wappler-block">
    <div class="row">
        <div class="col-12 text-center col-md-3 text-md-start">
            <img class="rounded-circle img-fluid wappler-type-picture">
        </div>
        <div class="col-12 text-center col-md-9 text-md-start align-self-center">
            <h4>Betoption</h4>
            <p>A nice paragraph</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center col-md-3 text-md-start order-md-3"><img class="img-fluid rounded-circle wappler-type-picture">
        </div>
        <div class="col-12 text-center col-md-9 text-md-start align-self-center order-md-1">
            <h4>Fancy display heading</h4>
            <p>A nice paragraph</p>
        </div>
    </div>
    <div class="row">
        <div class="col-12 text-center col-md-3 text-md-start"><img class="img-fluid rounded-circle wappler-type-picture">
        </div>
        <div class="col-12 text-center col-md-9 text-md-start align-self-center">
            <h4>Fancy display heading</h4>
            <p>A nice paragraph</p>
        </div>
    </div>
</div>